# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

*.html
data/*
kamosko-config.php
admin/vendor/
admin/*.txt
doc
.htaccess

# Project folders
gow*
mierotvorca*
party*
bratislavskykaviar*
turban*
